body {
  background-image: url(images/Ramen-ichiranNY.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px 800px;
  position: relative;
  height: 600px;
}

img {
  position: absolute;
padding: inherit;

  opacity: 0.5;
}

img:hover {
  opacity: 1.0;
}

h1 {
  font-style: oblique;
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 20%;
height: 5px;
color: white;
}
