body {
  background-image: url(images/Ramen-ichiranNY.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
  height: 600px;
}

img {
  position: absolute;
margin: 100px 40px 100px 40px;
padding: inherit;
}

h1 {
  font-style: oblique;
  color: white;
  text-align: center;
}

p {
  color: white;
  text-align: center;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 10px;
  width: 20%;
height: 5px;
color: white;
}
